.box{
    background-color: aqua;
    /* transform: translate(10px,20px); 
    transform: rotate(-45deg); 
    margin: 200px;
    transform: scale(1,8);
    transform: skew(45deg,20deg);
    */
    

    transform: rotateY(45deg);
}